.agency-header {
    margin-bottom: 52px;
}

.agency-subtitle {
    color: #168c9f;
    margin-top: 36px;
}

.agent-card {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    width: 100%;
}

.agent-card__image-container {
    overflow: hidden;
}

.agent-card__image {
    transition: all 1.5s ease;
}

.agent-card__info {
    padding: 15px;
    position: relative;
    z-index: 2;
}

.agent-card__details {
    display: flex;
    flex-wrap: wrap;
}

.agent-card__name {
    background-color: white;
    border-radius: 5px;
    padding: 7px;
    font-size: 19px;
    margin-bottom: 10px;
}

.agent-card__details p {
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    margin-right: 9px;
}

.agent-card:hover .agent-card__name {
    transition: all 1.5s ease;
    cursor: pointer;
}

.agent-card:hover .agent-card__image {
    transform: scale(1.2);
}