.food-gallery-container .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.food-gallery-header {
    background-color: #8080802e;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.food-gallery-subtitle {
    color: #17a2b8;
    font-size: 20px;
}

.food-gallery-title {
    margin-top: 16px;
    font-size: 40px;
}

.food-gallery-container .col {
    padding-right: 0;
    padding-left: 0;
}

.food-item {
    position: relative;
}

.food-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 15px;
    color: white;
    opacity: 0;
}

.food-item-large,
.food-img-large {
    width: 100% !important;
    height: 600px !important;
}

.food-item-small,
.food-img-small {
    width: 100% !important;
    height: 300px !important;
}

.food-item:hover .food-item-overlay {
    opacity: 1;
    transition: 0.4s;
}

.food-item-content-container {
    position: absolute;
    top: 17%;
    left: 25%;
    text-align: center;
}

.food-item-price {
    color: #dc3545;
    font-size: 28px;
}

.food-item-large .food-item-name {
    font-size: 38px;
    margin-bottom: 20px;
}

.food-item-small .food-item-name {
    font-size: 32px;
    margin-bottom: 15px;
}

.food-item-large .food-item-description {
    font-size: 15px;
}

.food-item-small .food-item-description {
    font-size: 13px;
}

.order-button {
    padding: 11px;
    font-size: 20px;
    margin-top: 22px;
}