.portfolio-gallery-heading {
    margin-bottom: 30px;
    text-align: center;
}

.portfolio-item img {
    height: 100%;
    width: 100%;
}

.portfolio-item {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 263px !important;
}

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 4px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.4s;
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}

.portfolio-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.portfolio-item-category {
    font-size: 14px;
    color: #17a2b8;
}

.portfolio-item-title {
    font-size: 23px;
}

.portfolio-item-icons {
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

.portfolio-icon {
    background-color: #17a2b8;
    width: 40px;
    height: 39px;
    line-height: 40px;
    text-align: center;
}

.portfolio-icon:last-child {
    margin-left: 6px;
}