/* @media (min-width: 992px) and (max-width: 1199.98px) { 
  .boox .link {left: 84%!important;}
  .recip .coonte {padding: 14px!important;}
  .recip .img-fluid {max-width: 115%!important;}
} */

/* Medium devices (tablets, 768px and up)*/
/* @media (min-width: 768px) and (max-width: 991.98px) { 
  .agen .row,.mrto .row,.boox .card-deck
  ,.recip .row,.course .card-deck
  ,.bacck .row,.Bublich .myrow2{display: block!important;}
  .per .son .icon1, .per .son2 .icon11 {left: 25%!important;}
  .creati .overlay .icoon {margin-left: 10px!important;}
  .boox .card-img-top {height: 281px!important;}
  .boox .link {left: 93%!important;}
  .store .kind {width: 116px!important;}
  .recip .coonte,.recip .mg {width: 540px!important;}
  .recip {margin-left: 78px!important;}
  .bacck .myimg{display: none!important;}
  .peeera .item{padding: 15px!important}
  .lef img {left: 15%!important;top: 16%!important;}
  .righ{padding: 49px!important;}
} */

/* Small devices (landscape phones, 576px and up)*/
/* @media (min-width: 576px) and (max-width: 767.98px) { 
  .per .row,.agen .row,.mrto .row,.Hoverla .row
  ,.boox .card-deck,.fluidd .row,.recip .row
  ,.course .card-deck,.boorder .row
  ,.bacck .row,.myfood .row
  ,.peeera .row,.Bublich .myrow2{display: block!important;}
  .per .son .icon1, .per .son2 .icon11 {left: 40%!important;}
  .footer .thhree{margin-top: 70px;}
  .boox .card-img-top {height: 281px!important;}
  .boox .link {left: 91%!important;}
  .recip .coonte,.recip .mg {width: 540px!important;}
  .recip {margin-left: 6px!important;}
  .build2 {height: 78%!important;}
  .bacck .myimg{display: none!important;}
  .iitem {left: 61px!important;}
  .iitem .under {padding: 17px!important;width: 285px!important}
  .peeera .row{margin-bottom: 20px!important;}
  .peeera img {width: 540px!important}
  .lef img {left: 5%!important;top: 16%!important;}
  .righ{padding: 26px!important;}
} */


/* Extra small devices (portrait phones, less than 576px)*/
/* @media (max-width: 575.98px) { 
  .per .row,.agen .row,.mrto .row,.Hoverla .row
  ,.boox .card-deck,.fluidd .row,.recip .row
  ,.boorder .row,.bacck .row,.myfood .row
  ,.peeera .row,.Bublich .myrow2{display: block!important;}
  .per .son .icon1, .per .son2 .icon11 {left: 38%!important;}
  .footer .thhree{margin-top: 70px;margin-left: 88px;}
  .boox .card-img-top {height: 281px!important;}
  .boox .link {left: 90%!important}
  .store .kind{margin-left: -22px!important}
  .recip .coonte,.recip .mg {width: 450px!important;}
  .build2 {height: 78%!important;}
  .bacck .myimg{display: none!important;}
  .bacck .medi .icoonn {width: 142px!important;height: 67px!important;line-height: 75px!important;font-size: 13px!important}
  .iitem {left: 61px!important;}
  .iitem .under {padding: 17px!important;width: 285px!important;left: 56px!important;}
  .peeera .row{margin-bottom: 20px!important;}
  .peeera img,.peeera .item {width: 400px!important}
  .peeera {margin-left: 35px!important;}
  .lef img {left: -2%!important;top: 28%!important}  
  .righ{padding: 10px!important;padding-top: 21px!important;}
  .righ h1 {margin-bottom: 38px!important;margin-top: 19px!important;font-size: 27px!important}
  .righ .para1 {font-size: 18px!important}
  .righ .mybtt {font-size: 17px!important;padding: 9px!important}
} */
